
body{
  margin: 0;
}

.navBar{
  background-color:#000099;
  overflow: hidden;
}

.navBar a{
  font-size: 20px;
  float: right;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
}

.navBar img{
  width:80px;
  height:50px;
}

a:hover{
  color: #98d2f2;
}

.header{
  background-color:#f2f4f7;
  display: flex;

}


.header h1, h2{
  margin:0;
  padding-bottom:10px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  color:black;
}

.header h1{
  margin-top:100px;
}

.header-image img{
  width:100%;
  padding-top: 5px;
}

.title{
  width:50%;
  margin:0;
  font-family: 'Open Sans Condensed', sans-serif;
}

.title p{
  margin:0;
  text-align: center;
}

.header-image{
  width:50%;
  margin: 0;
}


.content-experience{
  text-align:center;
  background-color:#000099;
  padding: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 21px;
  color:white;
}

.border{
  border:4px solid white;
  width:50%;
  margin-left: auto;
  margin-right: auto;
}

#content-portfolio{
  text-align: center;
  background-image: linear-gradient(#000099, #2471A3 );
  padding: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  color:white;
}

.item{
  display: inline-block;
  position: relative;
}

.item img{
  width:250px;
  height:176.3px;
}

.overlay{
  position:absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:black;
  opacity: 0.5;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.item:hover .overlay{
  height: 100%;
}

.text {
  color: white;
  font-size: 30px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.button a{
  text-decoration: none;
  color: black
  font-family: 'Open Sans Condensed', sans-serif;
}

input[type=text], select, textarea {
  width: 50%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-left: 5%;
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  font-family: 'Open Sans Condensed', sans-serif;
}

input[type=submit]{
  background-color:white;
  color:black;
  display: block;
  margin-left: 48%;
  padding: 5px;
  border-radius:20%;
}

label{
  float:left;
  display: block;
  width:100%;
  padding-left: 5%;
  font-family: 'Open Sans Condensed', sans-serif;
}

.contact{
  background-image: linear-gradient(#2471A3, #99ccff);
  margin: 0;
  height: 400px;

}
.contact-container{
  width:50%;
  background-color:white;
  margin-left: auto;
  margin-right:auto;
  position:relative;
  top:100px;
  border-radius: 25px;
}

.contact-container p{
  margin:0;
  font-family: 'Open Sans Condensed', sans-serif;
}

button{
  background-color:white;
  color:black;
  display: block;
  margin-left: 48%;
  padding: 5px;
  border-radius:20%;
}



.footer {
  margin:0;
  background-image: url("images/footer.jpg");
  height: 400px;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.end{
  padding: 20px;
  background-color: #000099;
}

.end h2{
  color: white;
}
